body {
  /* coloring */
  color: #292929;
  background-color: white;
  /* sizing */
  margin-left: auto;
  margin-right: auto;
  max-width: 50em;
  padding: 5px;
  /* text */
    font-family: 'Quicksand', sans-serif;
}

body.content {
  padding-top: 5em;
}

/* reactive image */
img {
  width: 5%;
  height: auto;
}

div {
  color: black;
  background-color: white;
}
/* paragraph styling */
p.top {
  padding-top: 35px;
}
p.top-bold {
  padding-top: 35px;
  font-weight: bold;
}
p.bold {
  font-weight: bold;
}
p {
  padding-left: 125px;
  padding-right: 125px;
  text-align:justify;
  font-weight: 300;
  min-width: 300px;
}
.contact p{
  text-align: center;
}
.contact img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;

  width: 5;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: white;
  overflow: visible;
  position: fixed; /* Set the navbar to fixed position */
top: 0; /* Position the navbar at the top of the page */
width: 100%; /* Full width */
background-size: 115% 100%;
max-width: 50em;
border-bottom:1px solid;
border-color:grey;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: grey;
  background-color:white;
  text-align: center;
  padding: 10px 15px;
  padding-left: 5px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Quicksand', sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: black;
  font-weight: bold;
}

.topnav a.title {
  float: left;
  font-size: 20px;
  font-weight: bold;
  color: black;

}

/* image row */
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

/* */

/* warning p */

p.warning {
  color: white;
  background-color: black;
  height: 4em;
  background-size: 110%;
}
