body {
  /* coloring */
  color: #292929;
  background-color: white;
  /* sizing */
  display: block;
  margin-left: auto;
  margin-right: auto;

  max-width: 50%;
  min-width: 10%;
  /* text */
    font-family: 'Quicksand', sans-serif;
}

body.content {
  padding-top: 5em;
  margin-left: auto;
  margin-right: auto;
}

/* main gallery properties */
.gallery {
  line-height:0;
   column-count:4; /* # of columns*/
   column-gap:5px; /* space between columnms */

}

/* image size properties */
img.mainIMG{
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  margin-bottom:5px; /* to match column gap*/
}

.gallery img:hover {
   filter:none;
   filter: drop-shadow(2.5px 2.5px 2.5px);
}

/* 2 columns for medium-sized screens*/

@media (max-width: 800px) {
  .gallery {
    column-count: 2;
  }
}

@media (max-width: 800px) {
  .gallery {
    column-count: 2;
  }
}

@media (max-width: 400px) {
  .gallery {
    column-count: 1;
  }
}

/* grid for images */

div {
  color: black;
  background-color: white;
}
/* paragraph styling */
p.top {
  padding-top: 35px;
}
p.top-bold {
  padding-top: 35px;
  font-weight: bold;
}
p.bold {
  font-weight: bold;
}
p {
  padding-left: 10%;
  padding-right: 10%;
  text-align:center;
  font-weight: 300;\
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
}

h2 {
  padding-left: 10%;
  padding-right: 10%;
  text-align:center;
  font-weight: 300;
  padding-bottom: 5px;
  Padding-top: 5px;
}
h3 {
  padding-left: 10%;
  padding-right: 10%;
  text-align:center;
  font-weight: 300;
  padding-bottom: 5px;
  Padding-top: 5px;
}

/* contact page style info*/
 .contact p {
  width: 50%;
  margin: auto;
}

.instaButton {
  width: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;

}

/* Add a black background color to the top navigation */
.topnav {
  background-color: white;
  overflow: visible;
  position: fixed; /* Set the navbar to fixed position */
top: 0; /* Position the navbar at the top of the page */
width: 100%; /* Full width */
background-size: 115% 100%;
max-width: 50%;
border-bottom:1px solid;
border-color:grey;
flex: auto;
display: block;
margin-left: auto;
margin-right: auto;
z-index:1;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: grey;
  background-color:white;
  text-align: center;
  padding: 1% 1%;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
}

/* Change the color of links on hover */
.topnav a.topNavRightElement:hover {
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: black;
  font-weight: bold;
}

.topnav a.title {
  float: left;
  font-size: 20px;
  font-weight: bold;
  color: black;

}

/* warning p */

p.warning {
  text-align: center;
  color: white;
  background-color: black;
  height: 4em;
  background-size: 110%;
  display: block;
  flex: 100%;
  padding-top: 4em;
  padding-bottom: 10px;

  margin-left: auto;
  margin-right: auto;
}

.topnav a.hamburger {
  display: none;
}

/* hamburger menu test*/

.topnav a.hamClass {
  display: none;
}
.instaButton figure{
  size: 5px;
}


@media only screen and (max-device-width: 1000px) {
  /* smaller screen specific style (hamburger menu top nav)*/

.topnav a.topNavRightElement {
  display: none;
}

.topnav a.hamClass {
  display: block;
  color: blue;
}

p {
  font-size: 100%;
}

@media only screen and (max-device-width: 839px) {
p.warning {
  padding-top: 2em;
  padding-bottom: 5em;
}
}

h2 {
  font-size: 100%;
}

h3 {
  font-size: 100%;
}

.hamCheck input:checked ~ .topnav a.hamClass {
  color: red;
}

.topnav a.title {
  float: left;
  font-size: 16px;
  font-weight: bold;
  color: black;

}

}
